{% extends "base.html" %}
{% block body %}
    <div class="container" style="height: 100vh">
        <div class="row">
            <ul class="list-unstyled">
                {% for entry in entries %}
                <li>
                    {% if entry.title %}
                        <h2>{{ entry.title }}</h2>
                    {% endif %}
                    {{ entry.content|safe }}
                    <hr>
                    {% if entry.tags %}
                        <code>
                            <a href="#">{{ entry.tags }}</a>
                        </code>
                    {% endif %}
                    <div class="or-spacer">
                      <div class="mask"></div>
                    </div>
                {% else %}
                <li><em>No bluhrgs</em>
                {% endfor %}
            </ul>
        </div>
        <div class="row">
            <div class="col-lg-12" style="text-align:center">
                <p>
                    <a href="#">Prev</a> || <a href="#">Next</a>
                </p>
            </div>
        </div>
    </div>
{% endblock %}
